<template>

<div>
  <component :is="component"></component>
</div>
</template>

<script lang="ts">
import { Component } from 'nuxt-property-decorator'
import BaseComponent from '@/core/BaseComponent.ts'

@Component({
  components: {
   desktop: () => import('./desktop.vue')
  }
})
class IndexPage extends BaseComponent{
  constructor(){
    super()
  }

  get component(){
    return this.getComponent()
  }
}

export default IndexPage
</script>