<template>
    <v-layout row wrap >
      <v-flex xs12 md3 v-for="item in menu" :key="item.name" justify-center class="d-flex">
        <menu-card :item="item"></menu-card>
      </v-flex>
    </v-layout>
</template>

<script lang="ts">
import { Component } from 'nuxt-property-decorator'
import BaseComponent from '@/core/BaseComponent'
import menuCard from '@/components/cards/menuCard/menuCard.vue'

@Component({
  components: {
    menuCard
  }
})
class DesktopIndex extends BaseComponent {
    constructor(){
    super()
  }

  get menu(){
      return this.$store.state.menu.mainMenu
  }
}
export default DesktopIndex
</script>