<template>
    <div>
       <v-img class="logo" src="https://5element.by/public/resources/images/logo.svg"></v-img>
    </div>
</template>

<script lang="ts">
import {Component} from 'nuxt-property-decorator'
import BaseComponent from '../../core/BaseComponent'

@Component({})
class DesktopLogo extends BaseComponent{
  constructor(){
    super()
  }
}

export default DesktopLogo
</script>

<style scoped>
  .logo {
    max-width: 150px;
  }
</style>