<template>
  <div>
    <component :is="component"></component>
  </div>
</template>

<script lang="ts">
import {Component} from 'nuxt-property-decorator'
import BaseComponent from '../../core/BaseComponent';

@Component({
  components: {
    mobile: () => import('./mobile.vue'),
    desktop: () => import('./desktop.vue')
  }
})
class Logo extends BaseComponent{
  constructor(){
    super()
  }
  get component(){
    return this.getComponent()
  }
}

export default Logo
</script>