<template>
     <div>
       <v-img class="logo" src="/mobile.jpg"></v-img>
       </div>
</template>

<script lang="ts">
import {Component} from 'nuxt-property-decorator'
import BaseComponent from '../../core/BaseComponent'

@Component({})
class MobileLogo extends BaseComponent{
  constructor(){
    super()
  }
}

export default MobileLogo
</script>

<style scoped>
  .logo {
    max-width: 50px;
  }
</style>