<template>
<v-app>
  <v-app-bar
      clipped-left
      fixed
      app
      height="120px"
      >
      <v-layout row wrap>
        <v-flex xs12>
      <logotip></logotip>


        </v-flex>
        <v-flex xs12 class="mt-5">

          <menu-component></menu-component>
        </v-flex>
      </v-layout>

  </v-app-bar>
 <v-content>
      <v-container grid-list-md>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer
      fixed
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
</v-app>
</template>

<script lang="ts">

import {Component, Vue} from 'nuxt-property-decorator'
import logo from '../components/logo/logo.vue'
import menuComponent from '@/components/menu/menu.vue'

@Component({
  components: {
    logotip: logo,
    menuComponent
  }
})
class DesktopLayout extends Vue
{
  constructor(){
    super()
  }

  get menu(){
    return this.$store.state.menu.mainMenu
  }
}
export default DesktopLayout
</script>