<template>
  <v-app >
    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
      light
      temporary
    >

      <v-expansion-panels
        accordion
        dark

        >
        <v-expansion-panel
          v-for="(item, i) in menu"
          :key="i"
           class="white--text"


          >
           <v-expansion-panel-header class="red lighten-1 white--text">{{item.name}}</v-expansion-panel-header>
           <v-expansion-panel-content>
              <v-expansion-panels
                accordion
                light

                >
                <v-expansion-panel v-for="(subgroup, index) in item.children"
                :key="`child-${index}`"
                light
                >
                  <v-expansion-panel-header>{{subgroup.name}}</v-expansion-panel-header>
                   <v-expansion-panel-content>
                      <v-list avatar dense nav>
                        <v-list-item
                          v-for="el in subgroup.children"
                          :key="`link-${el._id}`"
                          nuxt
                          :to="el.url"
                        >
                          <v-list-item-avatar >
                            <v-img :src="el.image_url"></v-img>
                          </v-list-item-avatar>
                          <v-list-item-content class="white--text">
                              {{el.name}}

                          </v-list-item-content>
                        </v-list-item>

                      </v-list>

                   </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>

           </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

    </v-navigation-drawer>
    <v-app-bar
      clipped-left
      fixed
      app
    >
      <logo></logo>
      <v-spacer></v-spacer>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer
      fixed
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">

import {Component, Vue} from 'nuxt-property-decorator'
import Logo from '../components/logo/logo.vue'

@Component({
  components: {
    logo: Logo
  }
})
class MobileLayout extends Vue
{
  constructor(){
    super()
  }

  get menu(){
    return this.$store.state.menu.mainMenu
  }
  drawer: boolean = false
}
export default MobileLayout

</script>

<style scoped>
>>>.v-expansion-panel-content__wrap {
  padding: 0px;
}
</style>
