<template>
  <div class="cont">
    <nuxt-link :to="item.url" class="link">
      <v-img :src="item.image_url"></v-img>
      <span>{{ item.name }}</span>

    </nuxt-link>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from 'nuxt-property-decorator'
import BaseComponent from '@/core/BaseComponent'

@Component({
  components: {
    desktop: () => import('./descktop.vue')
  }
})
class DesktopMenuCard extends BaseComponent{
  constructor(){
    super()
  }
  @Prop({
    type: Object,
    required: true
  }) item!: Object
}
export default DesktopMenuCard
</script>

<style scoped lang="scss">
  .cont{
    max-width: 250px;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: all .2s;
    &:hover{
      transform: scale(1.1);
    }
  }
</style>