<template>
  <div>
    <component :is="component" :item="item"/>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from 'nuxt-property-decorator'
import BaseComponent from '@/core/BaseComponent'

@Component({
  components: {
    desktop: () => import('./descktop.vue')
  }
})
class MenuCard extends BaseComponent{
  constructor(){
    super()
  }
  @Prop({
    required: true
  }) item!: Object

  get component(){
    return this.getComponent()
  }
}
export default MenuCard
</script>