<template>
  <page-content />
</template>

<script lang="ts">
import {Component} from 'nuxt-property-decorator'
import BasePage from '@/core/BasePage'
import { Context } from '@nuxt/types';
import pageContent from './../components/pages/index/content.vue'

@Component({
  components: {
    pageContent
  }
})
class Page extends BasePage {
  layout(ctx: Context){
    if (ctx.app.store){
      return ctx.app.store.state.device
    }
  }
  constructor(){
    super()
  }
}
export default Page
</script>
