<template>

  <v-layout
    @mouseleave="mainBlock=null"
    style="position: relative">
    <v-flex
      v-for="item in menu"
      :key="item.name"
      class="menu-item"
      :class="{'hovered': mainBlock === item.url}"
      @mouseover="mainBlock = item.url">
      <nuxt-link :to="item.url" >
        {{ item.name }}
      </nuxt-link>
    </v-flex>
    <v-flex
      v-if="block"
      class="menuBlock">
      <v-layout >
        <v-flex xs3>
            <v-list>
              <v-list-item
                v-for="i in block.children"
                :key="i.url"
                @mouseover="childBlock = i">
                <v-list-item-content
                  class="hovered-list-item">
                  {{ i.name }}
                </v-list-item-content>
              </v-list-item>
            </v-list>
        </v-flex>
        <v-flex xs9>
          <v-layout row wrap v-if="childBlock" space-between>
            <v-flex
              xs12
              md2
              v-for="item in childBlock.children"
              :key="item.url">
              <menu-card :item="item" class="mr-2"></menu-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>

</template>

<script lang="ts">
import {Component} from 'nuxt-property-decorator'
import BaseComponent from '@/core/BaseComponent'
import menuCard from '@/components/cards/menuCard/menuCard.vue'

@Component({
  components: {
    menuCard
  }
})
class Menu extends BaseComponent{
  mainBlock: boolean = false
  childBlock: Object = {}
  constructor(){
    super()
  }

  get menu(){
    return this.$store.state.menu.mainMenu
  }

  get block(){
    if (this.mainBlock){
      //@ts-ignore
      const index = this.menu.findIndex(el => el.url === this.mainBlock)
      this.childBlock = this.menu[index].children[0]
      return this.menu[index]
    }
  }

}
export default Menu
</script>

<style scoped lang="scss">
  .menu-item{
    max-width: 150px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: transparent;
    &:hover{
      background-color: white;
      & a {
        color: black;

      }
    }
    & a {
      color: white;
      text-decoration: none;
      &:hover{
        color: black;
      }
    }
  }

  .hovered {
     background-color: white;
      & a {
        color: black;

      }

  }

  .menuBlock {
    position: absolute;
    left: 10px;
    top: 47px;
    width: 95vw;
    background-color: #424242;
  }
  .hovered-list-item:hover {
    background-color: white;
    color: black;
  }
</style>